Repository leobrod44/Smartess, pull requests merged in 2025-04, with the labels that each got.

#693 BUG - Manage accounts dashboard filter displays users with no projects
  smartessweb/frontend/src/app/dashboard/manage-accounts/page.tsx
Labels: bug, frontend, Website

#695 Fixing dependencies issues for deployment in frontend
  smartessweb/frontend/package-lock.json
  smartessweb/frontend/package.json
Labels: frontend, Website

#699 BUGFIX - User profile picture url attribute error
  smartessweb/backend/backend-logs/backend-logs.txt
  smartessweb/frontend/src/app/sign-in/page.tsx
Labels: bug, frontend, Website

#701 We replaced the problematic useSearchParams() to fix dynamic rendering.
  smartessweb/backend/backend-logs/backend-logs.txt
  smartessweb/frontend/src/app/resetPassword/page.tsx
Labels: frontend, Website, forget password

#702 HUB7-T6 Mockhub alert yaml and different alert types
  go/cmd/mockhub/config/mock-events.yaml
  go/cmd/mockhub/docker-compose.yml
  go/cmd/mockhub/main.go
  go/common/structures/structures.go
  go/hub/ha/ha.go
Labels: hub, alerts

#704 Tests addition
  smartessweb/.gitignore
  smartessweb/backend/app.js
  smartessweb/backend/backend-logs/backend-logs.txt
  smartessweb/backend/routes/alertsRoutes.js
  smartessweb/backend/tests/controllers/alertsController.test.js
  smartessweb/backend/tests/controllers/announcementController.test.js
  smartessweb/backend/tests/controllers/consumptionController.test.js
  smartessweb/backend/tests/controllers/hubcontroller.test.js
  smartessweb/backend/tests/controllers/individualUnitController.test.js
  smartessweb/backend/tests/controllers/manageAccountsController.test.js
  smartessweb/backend/tests/controllers/projectController.test.js
  smartessweb/backend/tests/controllers/registrationController.test.js
  smartessweb/backend/tests/controllers/resetPasswordController.test.js
  smartessweb/backend/tests/controllers/startProjectController.test.js
  smartessweb/backend/tests/controllers/surveillanceController.test.js
  smartessweb/backend/tests/controllers/ticketsController.test.js
  smartessweb/backend/tests/controllers/unitsController.test.js
  smartessweb/backend/tests/controllers/userController.test.js
  smartessweb/backend/tests/controllers/widgetController.test.js
Labels: backend, Website, test
